*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.instagram-wrapper .instagram-phone-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-left: auto;
    margin-right: auto; */
}
.instagram-phone-div .instagram-phone{
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.instagram-continue{
    display: flex;
    flex-direction: column;
    justify-content: center; /*no exemplo ela usa space-around*/
    align-items: center;
    width: 50%;
    min-height: 34rem;
    margin-left: auto;
    margin-right: auto;
}
.instagram-continue .white-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 2px;
}
.instagram-logo{
    width: 50%;
    padding-bottom: 20px;
}
.profile-photo{
    display: flex;
    justify-content: center;
    width:50%;
    padding-bottom: 20px;
}
.profile-photo img{
    width: 80%;
    border-radius: 50%;
}
.instagram-login{
    background-color: rgb(44, 141, 248);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.instagram-logout{
    color: rgb(44, 141, 248);
    font-weight: bold;
}
.logout{
    color: rgb(150, 150, 150);
}
.link-blue{
    color: rgb(44, 141, 248);
    font-weight: bold;
}

.app-stores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 2.5%;
}
.app-stores p{
    color: rgb(71, 71, 71);
    margin-bottom: 10px;
}
.app-logos{
    display: flex;
    justify-content: center;
}
.app-item{
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.app-item-apple{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.app-item-google{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.foot{
    display: flex;
    justify-content: center;
}
.foot p{
    margin: 1.2rem;
    color: rgb(150, 150, 150);
}

/* MOBILE */

@media (max-width:1024px){
    .instagram-wrapper{
        width: 90%;
    }
}
@media (max-width:650px){
    body{
        background-color: #ffffff;
    }
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }

}

/* Outro modo de adicionar as imagens

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.app-download:nth-child(1){
    background-image:url('./img/apple-button.png');
}
.app-download:nth-child(2){
    background-image:url('./img/google play-button.png');
}
*/
